@import './icons.css';

.menu {
  position: fixed; /* Deixa o menu fixo na tela */
  top: 0; /* Alinha o menu ao topo */
  left: 0; /* Alinha o menu à esquerda */
  width: 100%; /* Defina a largura para ocupar toda a largura da tela */
  background-color: var(--main-background-color);
  z-index: 10; /* Defina um valor maior que o conteúdo para ficar abaixo do mesmo */

}

.content-container {
  margin-top: 7rem; /* Defina um valor maior que a altura do menu para criar o espaçamento */
}


.menu .menu-list ul {
  list-style-type: none;
  margin: 0 auto;
}

.menu .menu-list li a {
  text-decoration: none; 
  color: white;
  font-size: 1.8rem;
}

.menu .menu-list li a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.menu .menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.menu-list li {
  margin-bottom: 1rem; /* Adicione o espaço vertical desejado */
  
}

.icon-hamburger{
  font-size: 2.9rem;
}

.menu-icon{
  display: flex;
  justify-content: start;
  padding: 1rem;
  margin-left: 1rem;
}

